block globals
doctype html
html(lang="en")
    head
        block head
            link(href="/static/favicon.ico" rel="shortcut icon")
            link(href="/static/water.min.css" rel="stylesheet")
            link(href="/static/custom.css", rel="stylesheet")
            meta(charset="utf-8")
            meta(name="description", content=siteDescription)
            meta(name="keywords", content= `${(tags || []).join(", ")}`)
            meta(name="viewport", content="width=device-width, initial-scale=1")
            title
                block title
                    = `${title} | ${siteTitle}`
    body
        block body
            nav.navbar
                a(href="/")
                    input.nav-button(type="button" value="Home")
                a(href="/posts/")
                    input.nav-button(type="button" value="Posts")
            nav.navbar-placeholder
