block globals
doctype html
html(lang="en")
    head
        block head
            link(href="/static/favicon.ico" rel="shortcut icon")
            link(href="/static/water.min.css" rel="stylesheet")
            link(href="/static/custom.css", rel="stylesheet")
            title
                block title
                    = `${title} | ${siteTitle}`
    body
        block body
            nav.navbar
                a(href="/")
                    input.nav-button(type="button" value="Home")
                a(href="/posts")
                    input.nav-button(type="button" value="Posts")
            nav.navbar-placeholder
