extends base.pug

block globals
    - const { tags, title } = data.frontmatter;

block append body
    | !{contents}
    h6 Tags
    p
        - if (!tags.length)
            code [none]
        each tag in tags
            code.tag.
                [#[a(href=`/tags/${tag}/`) #{tag}]]
