extends base.pug

block append body
    h1= title
    each post in posts
        - const { publishDate, title } = post.data.frontmatter;
        a(href=post.data.url)
            h3.clearfix
                span(style=`float: ${showRecentFirst ? "right" : "left"}`)= title
                code(style=`float: ${showRecentFirst ? "left" : "right"}`)= publishDate || "null"
