extends base.pug

block globals
    - const { tags, title } = data.frontmatter;

block append body
    | !{contents}
    h6 Tags
    p
        - if (!tags.length)
            span none
        each tag in tags
            span.tag.
                [#[a(href=`/tag/${tag}/`) #{tag}]]
